/*
CSS 
web o pagina:
autor:
fecha:
RECORDAR:
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

#contenedor {
    /* estilos para el único elemento identificado con este #esteElemento; */
    max-height: 100px;
    max-width: 200px;
    padding: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
}

#contenido {
    /* estilos para el único elemento identificado con este #esteElemento; */
    width: 600px;
}

.cabezaGaleria {
    text-align: center;
    color: white;
    background-color: black;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    gap: 10px;
    overflow: hidden;
    align-items: center;
}

.weight-400 {
    font-weight: 400;
}

.weight-600 {
    font-weight: 600;
}

.parrafo {
    margin-bottom: 20px;
    text-align: center;
}

.header {
    height: 500px;
}

.barra {
    background-color: #000;
    align-items: center;
}

.menu {
    grid-column: 1/13;
    grid-row: 1/-1;
}

.img-hero {
    width: 100%;
    height: auto;
    grid-column: 7/13;
    min-width: 400px;
}

.img {
    width: 95%;
    max-width: 400px;
}

.textos-hero {
    grid-column: 1/7;
    padding-right: 20px;
    min-width: 400px;
}

.textos-hero p {
    text-align: justify;
}

.cta {
    width: 130px;
    background: black;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
}

.services {
    height: 370px;
    background: linear-gradient(180deg, white 50%, black 50%);
}

.items {
    grid-column: 1/-1;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.item {
    width: 30%;
    background: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    height: 220px;
    padding: 20px 10px;
    text-align: center;
    min-width: 300px;
}

[class^="far fa"] {
    font-size: 50px;
    text-align: center;
}

.titulo-services {
    margin: 20px 0;
}

.about-us {
    background: black;
    color: white;
    height: auto;
    padding-bottom: 60px;
}

.textos-about-us {
    grid-column: 1/-1;
    text-align: center;
}

.textos-about-us .parrafo {
    margin-top: 10px;
    color: #ccc;
}

.numbers {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.number {
    text-align: center;
    font-size: 30px;
    width: 22%;
}

.textos-mission {
    grid-column: 7/13;
    grid-row: 1/-1;
    margin-bottom: 20px;
}

.imgGaleria {
    grid-column: 2/7
}

.img-mission {
    grid-column: 2/12;
    text-align: center;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 60px 0;
}

.textos-footer {
    grid-column: 1/-1;
    margin-bottom: 30px;
}

[class^="footer-item"] a {
    color: white;
}

[class^="footer-item"] {
    grid-column: span 3;
}

nav {
    overflow: hidden;
    height: auto;
    font-size: 2vw;
    margin-right: 10%;
    margin-left: 10%;
}

nav a {
    color: inherit;
    font-size: 1vw;
    text-decoration: none;
}

p {
    padding: 2px;
    text-align: justify;
}

nav li {
    display: inline-block;
    width: 10%;
    padding: 5px 10px;
    background-color: black;
    border: 1px solid #000;
    text-align: center;
    color: white;
    font-size: 1vw;
}

nav li:hover {
    background-color: grey;
    color: white;
    font-size: 1vw;
}

.menuDesplegable-contenido {
    display: none;
    position: absolute;
    background-color: darkred;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menuDesplegable-contenido a {
    float: none;
    color: white;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.menuDesplegable-contenido a:hover {
    background-color: black;
}

.menuDesplegable:hover .menuDesplegable-contenido {
    display: block;
}

.navbar a:active,
.menuDesplegable-contenido a:active {
    color: black;
    position: relative;
    font-size: 1vw;
    top: 3px;
    left: 3px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
}

.galeria img {
    width: 100%;
    vertical-align: top;
    height: 600px;
    object-fit: cover;
    transition: transform 0.5s;
}

.galeria>a {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.galeria a:hover img {
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}

.light-box {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.light-box img {
    width: 60vw;
    max-height: 70vh;
}

.light-box:target {
    transform: scale(1);
}

.close {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: crimson;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.next {
    display: block;
    background: crimson;
    color: white;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
}

.contenidoActualidad {
    width: 100%;
    font-size: 3em;
    text-align: justify;
    padding: 1px;
}


/* defino variables */

:root {
    /* colores de fondo posibles */
    --colorBgDia: white;
    --colorBgNoche: black;
    /* colores de fuente */
    --colorDia: black;
    --colorNoche: red;
    /*  inicializo las variables que voy a aplicar y creo una variable que lo registre*/
    --colorBg: var(--colorBgNoche);
    --color: var(--colorNoche);
    --modo: "noche";
}

#mensajeLogin {
    display: none;
}

.imgact {
    float: left;
    width: 30%;
    display: flex;
}

section {
    display: list-item;
}


/* con javascript modificaré durante la ejecución
   las variables --colorBg y --color según lo que el usuario elija
   y actualizando el valor de la variable --modo   */

@media screen and(max-width:800px) {
    .header {
        height: auto;
    }
    .grid {
        grid-gap: 30px;
    }
    .img-hero,
    .textos-hero {
        grid-column: 1/-1;
    }
    .img-hero {
        text-align: center;
    }
    .textos-hero {
        margin-top: 40px;
    }
    .services {
        height: auto;
        margin-top: 40px;
    }
    .item {
        width: 60%;
        margin: 40px 0;
        height: auto;
        padding: 40px;
    }
    .img-mission {
        grid: column 1/-1;
        grid-row: 2/3;
        text-align: center;
    }
    .textos-mission {
        grid-column: 1/-1;
        grid-row: 1/2;
        align-self: center;
    }
}

@media screen and(max-width:400px) {
    .img {
        max-width: 170px;
    }
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
    .item {
        width: 100%;
        flex-shrink: 0;
    }
    .number {
        width: 55%;
        border-bottom: 1px dotted white;
        margin-bottom: 20px;
        padding-bottom: 5px;
    }
    .textos-mission h3 {
        margin: 15px;
    }
    [class^="footer-item"] {
        grid-column: 1/-1;
    }
    .galeria {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .close {
        top: 20px;
        right: 20px;
    }
}